@font-face {
    font-family: 'PokeSolid';
    src: url('Pokemon/Solid.ttf');
}

@font-face {
    font-family: 'PokeLight';
    src: url('Pokemon/Hollow.ttf')
}

.pokesolid {
    font-family: 'PokeSolid';
}

.pokelight {
    font-family: 'PokeLight';
}