<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
		<a class="text-decoration-none text-warning fw-bold pokelight" href="{{ path('app_home') }}">VroumVroum</a>
		<a class="text-decoration-none text-danger fts-italic pokelight" href="{{ path('app_admin') }}">Admin</a>
	</div>
</nav>
